<div class="md-color-picker-input-container" layout="row">
	<md-color-picker-preview ng-click="$ctrl.options.openOnPreviewClick && $ctrl.showColorPicker($event)" ng-model="data.color"></md-color-picker-preview>
	<md-input-container class="md-icon-left md-icon-right" flex >
		<label><md-icon ng-if="transcluded_content['mdIcon']">{{ transcluded_content['mdIcon'].innerHTML }}</md-icon><span ng-transclude="label">{{ $ctrl.placeholder }}</span></label>
		<input type="text" ng-model="data.color" class='md-color-picker-input' ng-required="$ctrl.isRequired" ng-mousedown="$ctrl.options.openOnInputClick && $ctrl.showColorPicker($event)"/>
	</md-input-container>
	<md-color-picker-clear></md-color-picker-clear>
</div>
<!--<pre>{{ $ctrl.options | json }}</pre>-->
