<md-dialog class="md-color-picker-dialog">
	<div md-color-picker-container
		ng-model="value"
		default="{{defaultValue}}"
		random="::random"
		ok="ok"
		md-color-alpha-channel="mdColorAlphaChannel"
		md-color-spectrum="mdColorSpectrum"
		md-color-sliders="mdColorSliders"
		md-color-generic-palette="mdColorGenericPalette"
		md-color-material-palette="mdColorMaterialPalette"
		md-color-history="mdColorHistory"
		md-color-hex="mdColorHex"
		md-color-rgb="mdColorRgb"
		md-color-hsl="mdColorHsl"
		md-color-default-tab="mdColorDefaultTab"
	></div>
	<md-actions layout="row">
		<div style="width: 50%; text-align: center;"><md-button class="md-mini" ng-click="close()" flex>Cancel</md-button></div>
		<div style="width: 50%; text-align: center;"><md-button class="md-mini" ng-click="ok()" flex>Select</md-button></div>
	</md-actions>
</md-dialog>
